body {
    text-align: center;
    background-image: url(bg.png);
    display: block;
    margin: 8px;
}

nav{
    position: fixed;
    text-align: right;
    top: 0px;
    right: 150px;
    width: 400px;
    height: 20px;
    padding: 10px 10px;
    background-color: rgb(95, 8, 8);
    border-radius: 0px 0px 15px 15px;
    text-align: center;
    color: white
}

.border {
    border-right: 2px solid white;
}

a:link {
    color: white;
    text-decoration: none;
  }
  
a:visited {
    color: white;
}

a:hover {
        color: rgb(212, 23, 23);
}

#active {
    color: rgb(212, 23, 23);
}

#center {
    position: absolute;
    top: 50%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    position: absolute;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: white;
    top: 15%;
    left: 13%;
}
.stern1 {
    position: absolute;
    top: 50%;
    left: 10%;
}
.stern2 {
    position: absolute;
    top: 30%;
    left: 25%;
}
  
.stern3 {
    position: absolute;
    bottom: 17%;
    left: 43%;
}

.stern4 {
    position: absolute;
    top: 45%;
    right: 20%;
}
.stern1:hover{
    background-image: url(stern_hover.png);
    
}
.stern2:hover{
    background-image: url(stern_hover.png);
}
.stern3:hover{
    background-image: url(stern_hover.png);
}
.stern4:hover{
    background-image: url(stern_hover.png);
}