body {
    background-image: url(wasser.jpg);
    width: 100%;
    text-align: center;
}


h1 {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
        color:rgb(147, 146, 228);
        position: absolute;
        top: 7%;
        left: 5%;
        right: 5%;
}

.satz {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.5em;
        color:rgb(147, 146, 228);
        position: absolute;
        top: 93%;
        left: 5%;
        right: 5%;
}

.icons {
    width: 60px;
    height: 37.5px;
    margin: 50px 20px 50px 20px;
}

.icons:hover {
    opacity: .7;
}

#center {
    position: absolute;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hintergrund {
    height: 480px;
    width: 360px;
}

.startlink {
    z-index: 2;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 38%;
    top: 68%;
}

.startbutton {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 49%;
    left: 28%;
    z-index: 1;
}

.start2 {
    width: 350px;
    position: absolute;
    top: 15%;
    left: 0%;
    z-index: 1;
}

.frage1 {
    width: 350px;
    position: absolute;
    top: 70%;
    left: 42%;
    z-index: 2;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.frage2 {
    width: 350px;
    position: absolute;
    top: 16%;
    left: 20%;
    z-index: 2;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    color: white;
}

.Eins {
    width: 350px;
    position: absolute;
    top: 35%;
    left: 0%;
    z-index: 1;
}

.Zwei {
    width: 350px;
    position: absolute;
    top: 45%;
    left: 0%;
    z-index: 1;
}
.Drei {
    width: 350px;
    position: absolute;
    top: 55%;
    left: 0%;
    z-index: 1;
}

.Vier {
    width: 350px;
    position: absolute;
    top: 65%;
    left: 0%;
    z-index: 1;
}

.Antwort1 {
    width: 350px;
    position: absolute;
    top: 36%;
    left: 25%;
    z-index: 2;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    color: white;
    text-decoration: none;
}

.Antwort2 {
    width: 350px;
    position: absolute;
    top: 46%;
    left: 25%;
    z-index: 2;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    color: white;
    text-decoration: none;
}

.Antwort3 {
    width: 350px;
    position: absolute;
    top: 56%;
    left: 25%;
    z-index: 2;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    color: white;
    text-decoration: none;
}
.Antwort4 {
    width: 350px;
    position: absolute;
    top: 66%;
    left: 25%;
    z-index: 2;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    color: white;
    text-decoration: none;
}

.leiderverloren {
    width: 350px;
    position: absolute;
    top: 20%;
    left: 15%;
    z-index: 1.5;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color:rgb(147, 146, 228);
}

.verloren2 {
    width: 350px;
    position: absolute;
    top: 45%;
    left: 30%;
    z-index: 2;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.verloren3 {
    width: 350px;
    position: absolute;
    top: 40%;
    left: 0%;
    z-index: 1;
}
